<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mom.app"
    android:versionCode="11"
    android:versionName="2.0" >

    <uses-sdk android:minSdkVersion="11" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission android:name="com.mom.app.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE" />

    <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />


    <application
        android:name=".MoMApp"
        android:allowBackup="true"
        android:icon="@drawable/momicon"
        android:label="@string/app_name"
        android:theme="@style/MoMTheme" >

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver
            android:name=".gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.mom.app" />
            </intent-filter>
        </receiver>
        <service android:name=".gcm.GcmIntentService" />

        <activity
            android:name=".activity.LoginActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.DashboardActivity"
            android:configChanges="keyboard|keyboardHidden|orientation" >
        </activity>
        <activity
            android:name=".activity.MobileRechargeActivity"
            android:configChanges="keyboard|keyboardHidden|orientation" />

        <!-- Credit sale -->
        <activity android:name=".MSwipeAndroidSDKListActivity1" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
>
        </activity>
        <activity
            android:name=".CreditSaleView"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="mSwipe"
            android:windowSoftInputMode="stateVisible|adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreditSaleSignatureView"
            android:label="mSwipe"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreditSaleViewAmexCard"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="mSwipe" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LastTrxStatus"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="mSwipe" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChangePassword"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="mSwipe" >
        </activity>

        <service
            android:name=".SwiperCallStateService"
            android:enabled="true" >
            <intent-filter>
                <action android:name="com.bbpos.swiper.CALL_STATE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <activity
            android:name=".activity.VerifyTPinActivity"
            android:label="@string/title_activity_verify_tpin" >
        </activity>
        <activity
            android:name=".activity.TransactionMessageActivity"
            android:label="@string/title_activity_transaction_confirmation" >
        </activity>
        <activity
            android:name=".activity.DTHRechargeActivity"
            android:label="@string/title_activity_dthrecharge" >
        </activity>
        <activity
            android:name=".activity.BillPaymentActivity"
            android:label="@string/title_activity_bill_payment" >
        </activity>
        <activity
            android:name=".activity.TransactionHistoryActivity"
            android:label="@string/title_activity_transaction_history" >
        </activity>
        <activity
            android:name=".activity.ChangePINActivity"
            android:label="@string/title_activity_change_pin" >
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".activity.BaseActivity"
            android:label="@string/title_activity_base" >
        </activity>
        <activity
            android:name=".activity.RetailerPayment"
            android:label="@string/title_activity_retailer_payment" >
        </activity>
        <activity
            android:name=".activity.RetailerPaymentActivity"
            android:label="@string/title_activity_retailer_payment" >
        </activity>
    </application>

    <!--
     To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />

</manifest>